In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv('quakes-cleaned.csv')

## 1.Most seismic activity in  a Territory(Geographical area)

This code determines the top 10 territories with the highest seismic activity counts using the value_counts() method on the Territory column and converts the result into a DataFrame. The DataFrame, renamed with columns Territory and Count, is printed to display the top territories and their respective counts.

In [3]:
seismic_activity_counts = data['Territory'].value_counts().head(10)
seismic_activity_counts_df = seismic_activity_counts.reset_index()
seismic_activity_counts_df.columns = ['Territory', 'Count']
print(seismic_activity_counts_df)

     Territory  Count
0           CA   3259
1       Alaska   2293
2       Hawaii    675
3       Nevada    521
4        Texas    370
5         Utah    330
6      Montana    325
7     Oklahoma    312
8   Washington    251
9  Puerto Rico    206

## 2.Top 5 contributors to each earthquake measurements


This code identifies the top 5 contributors to earthquake measurements by counting the occurrences of each unique value in the net column using the value_counts() method. The result is then printed to display the top contributors to earthquake measurements

In [4]:
top_contributors = data['net'].value_counts().head(5)
print("Top contributors to earthquake measurements:")
print(top_contributors)

Top contributors to earthquake measurements:
net
nc    1990
ci    1299
ak    1277
av     917
us     816
Name: count, dtype: int64

## 3.Areas with highest measurement of error in depth

This code calculates the average depth error for each territory by grouping the data by the Territory column and computing the mean of depthError. The resulting DataFrame is then sorted in descending order by the depthError column and printed to display the territories with the highest average depth errors.

In [5]:
depth_error_areas = data.groupby('Territory')['depthError'].mean().reset_index()
depth_error_areas_sorted = depth_error_areas.sort_values(by='depthError', ascending=False)
print(depth_error_areas_sorted)

                Territory  depthError
12  California Earthquake   31.610000
13                 Canada   17.279360
87    U.S. Virgin Islands   13.303077
29                  Haiti   11.346000
65                 Oregon   10.997769
..                    ...         ...
89                   Utah    1.093152
59             New Mexico    1.042585
30                 Hawaii    1.042237
82              Tennessee    0.620000
51               Missouri    0.544000

[97 rows x 2 columns]

## 3.Areas with highest measurement of error in depth

This code groups the data by the Territory column and calculates the mean of depthError for each territory. It then sorts the resulting grouped data by depthError in descending order. Finally, the sorted data is printed to the console.

In [6]:
depth_error_areas = data.groupby('Territory')['depthError'].mean().reset_index()
depth_error_areas_sorted = depth_error_areas.sort_values(by='depthError', ascending=False)
print(depth_error_areas_sorted)

                Territory  depthError
12  California Earthquake   31.610000
13                 Canada   17.279360
87    U.S. Virgin Islands   13.303077
29                  Haiti   11.346000
65                 Oregon   10.997769
..                    ...         ...
89                   Utah    1.093152
59             New Mexico    1.042585
30                 Hawaii    1.042237
82              Tennessee    0.620000
51               Missouri    0.544000

[97 rows x 2 columns]

## 4.Most frequent seismic activity

It counts the occurrences of each unique value in the type column using value_counts() and resets the index. It then renames the columns to Type for the seismic activity type and Count for the count of each type. Finally, it prints the first few rows of the resulting data using head().

In [7]:
most_seismic_activity_types = data['type'].value_counts().reset_index()
most_seismic_activity_types.columns = ['Type', 'Count']
print(most_seismic_activity_types.head())

           Type  Count
0    earthquake   9594
1  quarry blast    118
2     explosion     48
3    sonic boom      2
4   other event      1

## 5.Top five regions with highest no of explotion

It filters the data to include only rows where the type is 'explosion' and counts the occurrences of each territory, retrieving the top 5 territories with the most explosions.

In [8]:
explosions_data = data[data['type'].str.lower() == 'explosion']
top_explosion_territories = explosions_data['Territory'].value_counts().head(5).reset_index()
top_explosion_territories.columns = ['Territory', 'Count']
top_explosion_territories

    Territory  Count
0  Washington     19
1      Oregon     12
2      Canada     11
3      Nevada      4
4       Idaho      1